.main-header {
    background: #fff;
    @media #{$tablet-landscape} {
        height: 96px;
    }
}

.main-header_nav {
    @include container-wrap;
}

.main-header_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-header_li {
    padding: calculateRem(15px) calculateRem(10px);
}

.main-header_li--left,
.main-header_li--right {
    flex: 0 0 100%;
}

.main-header_li--left {
    padding-top: calculateRem(30px);
    border-bottom: 1px solid grey;
}

.main-header_li--center {
    .main-header_li_text {
        @include font-size(22px);
        margin: 0;
    }
}

.main-header_li--right {
    display: none;
    .main-header_li_text {
        text-transform: uppercase;
    }
}

.main-header_li--logo {
    display: flex;
    width: calculateRem(280px);
    margin: 0 auto;
}

.main-header_li_text {
    color: $c-primary;
    font-weight: 700;
}

.main-header_li--logo img {
    object-fit: cover;
    width: 100%;
}

@media #{$tablet-landscape} {
    .main-header_li {
        padding: calculateRem(30px) calculateRem(10px);
    }    
    .main-header_li--left,
    .main-header_li--right {
        flex: 0 0 20%;
    }
    .main-header_li--left {
        padding-top: calculateRem(30px);
        border: 0;
    }

    .main-header_li--center {
        .main-header_li_text {
            @include font-size(26px);
        }
    }

    .main-header_li--right {
        display: block;
    }

    .main-header_ul {
        justify-content: space-between;
    }

    .main-header_li--logo {
        display: flex;
        width: auto;
        margin: 0 auto;
    }
}