// + Colors
// -------
//## principal colours
$c-primary:         #a98bbe;
$c-secundary:       #FF8C00;
$c-color1:          #f7f0ea;
$c-color2:          #d4d4d4;
$c-color3:          #f4f4f4;
$c-color4:            #666;
$c-color5:            #ac0000;


$c-text: #282828;
$body-background: #000;

// border
$c-border: #f7f0ea;

// + UI-ELEMENTS
// -------
$accessibility-outline-color: transparent;
$c-link: $c-primary;
$c-link-hover: $c-link;

// overlay
$overlay-background: rgba($c-text, .5);