// + Colors
// -------
//## principal colours
$c-primary:         #00cfa7; // corporate-color
$c-secundary:       #00cfa7; // main-gradient-color
$c-color1:          #8bffc9; // secondary-gradient-color
$c-color2:          #d4d4d4;
$c-color3:          #7f8c8d;
$c-color4:            #999;
$c-color5:            #ac0000;
$c-color6:            #f1f1f1;


$c-text: rgb(30, 30, 30);
$body-background: #000;

// border
$c-border: #f7f0ea;

// + UI-ELEMENTS
// -------
$accessibility-outline-color: transparent;
$c-link: $c-primary;
$c-link-hover: $c-link;

// overlay
$overlay-background: rgba($c-text, .5);